.profile__avatar-btn {
  background: url(../../../images/avatar-btn.svg) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  opacity: 0;
  transition: .8s ease;
}

.profile__avatar-btn:hover {
  opacity: .8;
  background-color: #000;
}