@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__sign-out/header__sign-out.css);
@import url(../blocks/header/__auth/header__auth.css);
@import url(../blocks/header/__mail/header__mail.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(../blocks/profile/__image-container/profile__image-container.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__likes/element__likes.css);
@import url(../blocks/element/__likes-num/element__likes-num.css);
@import url(../blocks/element/__likes/_centered/element__likes_centered.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__flex-row/element__flex-row.css);
@import url(../blocks/element/__trash/element__trash.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/_avatar/popup__container_type_avatar.css);
@import url(../blocks/popup/__container/_type/_confirm/popup__container_type_confirm.css);
@import url(../blocks/popup/__container/_type/_infotool/popup__container_type_infotool.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_add-place/popup_add-place.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__image-opened/popup__image-opened.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__signup-icon/popup__signup-icon.css);
@import url(../blocks/popup/__signup-title/popup__signup-title.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__set/form__set.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
@import url(../blocks/form/__input/_el/form__input_el_heading.css);
@import url(../blocks/form/__submit-button/_inactive/form__submit-button_inactive.css);
@import url(../blocks/form/__input/_type/form__input_type_error.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__submit-button/_inactive/form__submit-button_inactive.css);

@import url(../blocks/login/login.css);
@import url(../blocks/login/__link/login__link.css);
@import url(../blocks/login/__title/login__title.css);
@import url(../blocks/login/__form/login__form.css);
@import url(../blocks/login/__text/login__text.css);
@import url(../blocks/login/__error/login__error.css);
