.popup__container_type_photo {
  background-color: transparent;
  max-width: 816px;
  width: 100%;
  max-height: 562px;
  position: relative;
  display: flex;
  align-items: center;
  bottom: -12px;
}

@media screen and (max-width: 930px) {
  .popup__container_type_photo {
    max-width: 550px;
  }
}

@media screen and (max-width: 580px) {
  .popup__container_type_photo {
    max-width: 240px;
    max-height: 299px;
  } 
}